.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);

  border: none;
}

.navbar .brand {
  padding-left: 40px;
  padding-top: 5px;
  color: white;
  vertical-align: bottom;
  text-shadow: none;
  font-size: 30px;
}

.main {
  position: relative;
  top: 45px;
  bottom: 0;
  padding: 10px;
}

#error {
  background-color: #BA0000;
  color: #fff;
  font-weight: bold;
}
#ask {
  font-size: 20pt;
}
#ask input {
  font-size: 20pt;
  padding: 10px;
  margin: 0 10px;
}
#ask span.join {
  padding: 10px;
  background-color: #ddd;
  -webkit-border-radius: 10px;
}
#channel {
  height: 90%;
  position: relative;
}
div#msgs {
  overflow-y: scroll;
  height: 400px;
  font-size: 20px;
  line-height: 24px;
}
div#msgs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
div#msgs li {
  line-height: 20px;
}
div#msgs li span.user {
  color: #ff9900;
}
div#msgs li span.user.self {
  color: #aa2211;
}
div#msgs li span.time {
  float: right;
  margin-right: 5px;
  color: #aaa;
  font-size: 12px;
}
div#msgs li.control {
  text-align: center;
}
div#msgs li.control span.message {
  color: #aaa;
}
div#input {
  text-align: left;
  margin-top: 20px;
}
div#input #message {
  width: 600px;
  height: 35px;
  border: 5px solid #bbb;
  -webkit-border-radius: 3px;
  font-size: 30px;
}